<footer>
  <div class="columns">
    <div class="column is-three-fifths">
        <input class="input is-black footer-inp" placeholder="Email-Address" style="width:26%">
        <button class="button is-black footer-btn">Submit</button> </input>
    </div>
    <div class="column ">
        <ul class="footer-menu">
            <li>CONTACT</li>
            <li>CLIENT SERVICES</li>
            <li>LEGAL NOTICES</li>
            <li>SOCIAL</li>
        </ul>

    </div>
  </div>
</footer>
