<header>
  <nav class="navbar navbar-light bg-light navbar-brand-center is-fixed-top">
    <a class="nav-item nav-link" href="/shop">SHOP</a>

    <a class="navbar-brand brand-nav m-auto" href="/">HELMUT LANG</a>

    <a class="nav-item nav-link" href="/account">ACCOUNT</a>

    <a class="nav-item nav-link" id="cart-button-na"> BAG</a>
  </nav>
</header>
