<header>
  <nav class="navbar navbar-light bg-light navbar-brand-center">
    <a class="nav-item nav-link" href="/shop">Shop</a>

    <a class="navbar-brand m-auto" href="/">Helmut Lang</a>

    <a class="nav-item nav-link" href="/account">Account</a>

    <a> <i class="fa fa-shopping-cart" id="cart-button-na"></i> </a>
  </nav>
</header>
