<!DOCTYPE html>
<%- include('partials/head.ejs'); %> <%- include('partials/header.ejs'); %>

<div class="login-box">
  <div class="loginMain">
    <h1 class="login-head">Login</h1>

    <div>
      <input
        class="input acc-inp inp-email"
        type="text"
        style="width: 50%"
        placeholder="Email"
      />
    </div>
    <div>
      <input
        class="input acc-inp inp-pass"
        type="text"
        style="width: 50%"
        placeholder="Password"
      />
    </div>
    <button class="button is-black" style="width: 50%" type="submit">
      Sign In
    </button>
    <h3>Forgot Your Password?</h3>
  </div>

  <button class="button is-black" type="text">REGISTER AN ACCOUNT</button>
</div>
