<!DOCTYPE html>
<%- include('partials/head.ejs'); %> <%- include('partials/header.ejs'); %>

<div class="main-cart">
  <h1 class="cart-title">Shopping Bag</h1>

  <div class="cart-item-view">
    <img src="images/hl1.jpg" height="180px" width="180px" />
    <div>
      <h3>Collection</h3>
      <h4>Item Des</h4>
    </div>
    <div>
      <h5>$650.00</h5>
      <h5>Remove</h5>
    </div>
  </div>

  <div class="subtotal">
    <h6>Subtotal: 1,3000</h6>
    <div>
      <a href="/checkout">Checkout</a>
    </div>
    <a href="/shop">Continue Shopping</a>
  </div>
</div>
