<!DOCTYPE html>
<%- include('../partials/head.ejs'); %>

<div>
  <div class="payment-vector">
    <h6>contact</h6>
    <h6>Ship to</h6>
    <h6>method</h6>
    <h1>Payment</h1>
    <h6>All transactions are secure and encrypted</h6>

    <h6>Email</h6>
    <input type="text" placeholder="Email" />

    <h6>Card information</h6>
    <input type="text" placeholder="1234 1234 1234 1234" />
    <input type="text" placeholder="MM/YY" />
    <input type="text" placeholder="CVC" />

    <h6>name on card</h6>
    <input type="text" placeholder="Name on card" />

    <h6>Country or region</h6>
    <input type="text" placeholder="United States" />
    <input type="text" placeholder="Zip" />
  </div>

  <div class="cart-vector"></div>
</div>
