<!DOCTYPE html>
<%- include('partials/head.ejs'); %> <%- include('partials/header.ejs'); %>






<div class="checkout-container"></div>
  <div class="cart-vector"></div>
  <% for(let i = 0; i < cartData.products.length; i++) { %>
  <div class="checkorder-section">
    <h1><%= cartData.products[i].itemName %></h1>
    <h1><%= cartData.products[i].price %></h1>
  </div>
  <% } %>
</div>
