.main-cart {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.cart-item-view {
  display:flex;
}
.cart-title{
  padding-bottom: 44px;
}
.subtotal {
  margin-top: 84px;
}

#cart-drawer{
  overflow:scroll !important;
}