a {
  text-decoration: none;
  border: 0;
}

body {
  overflow-x: hidden;
}

.navbar-brand{
  color: black;
  padding: 6px;
  font-size: 16px;
}
.nav-link {
  font-size: 12px;
  color: black;
}

.nav-item{
  padding: 8px 12px;
}


.club {
  text-align: center;
}

.landing {
  width: 100%;
}

.shopping-bag {
  height: 28px;
  width: 28px;
}

.login-head{
  text-align: left;
  padding: 0 0 0 25%;
}

.input{
  margin: 10px 0;
}

.land{
  width: 100%;

}

.footer-inp{
  margin-left: 16px;
}

.footer-btn{
  margin-top: 10px;
  margin-right: 60px;
}

.footer-menu{
  margin-right: 50px;

}

.footer-menu li{
  margin-top: 10px;
  padding: 0 9px;
  display: inline-block;
}