a {
  text-decoration: none;
  border: 0;
}

body {
  overflow-x: hidden;
}

.navbar-brand{
  color: black;
  padding: 6px;
  font-size: 16px;
}
.nav-link {
  font-size: 12px;
  color: black;
}

.nav-item{
  padding: 8px 12px;
}


.club {
  text-align: center;
}

.landing {
  width: 100%;
}

.shopping-bag {
  height: 28px;
  width: 28px;
}

.login-head{
  text-align: left;
  padding: 0 0 0 25%;
}

.input{
  margin: 10px 0;
}
